<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About Us</h1>
      <p> The Health Fit application is an informative website that promotes healthy habits for users of all ages. 
        It was created to meet requirements for Project2 in the Vanderbilt Trilogy coding bootcamp, February 2020.</p>

      <h3> Why did we build this application and what purpose does it solve </h3>
      <p> We built this application to provide a practical tool to access information about healthy choices that each individual can take.
        It is designed so that the user can get calorie or nutiritional info directly, and make their own decisions.
        The program can be used for diet planning, menu selection or just as a helpful source for
        people trying to maintain healthy lifestyles.
        It also directs users to other resources for more in-depth information. </p>

      <h4>For any questions please feel free to reachout to us.</h4>

      <form class="mbr-form" action="" method="post" data-form-title=""><input
          type="hidden" data-form-email="true"
          value="">
        <div class="row row-sm-offset">
          <div class="col-md-4 multi-horizontal" data-for="name">
            <div class="form-group">
              <label class="form-control-label mbr-fonts-style display-7" for="name-form1-4">Name</label>
              <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-4">
            </div>
          </div>
          <div class="col-md-4 multi-horizontal" data-for="email">
            <div class="form-group">
              <label class="form-control-label mbr-fonts-style display-7" for="email-form1-4">Email</label>
              <input type="email" class="form-control" name="email" data-form-field="Email" required=""
                id="email-form1-4">
            </div>
          </div>
          <div class="col-md-4 multi-horizontal" data-for="phone">
            <div class="form-group">
              <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-4">Phone</label>
              <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-4">
            </div>
          </div>
        </div>
        <div class="form-group" data-for="message">
          <label class="form-control-label mbr-fonts-style display-7" for="message-form1-4">Message</label>
          <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message"
            id="message-form1-4"></textarea>
        </div>

        <span class="input-group-btn"><button href="" type="submit"
            class="formBtn btn btn-form btn-black-outline display-4">SEND FORM</button></span>
      </form>





    </div>
  </div>
</div>