<div class="container">
  <div class="row">
    <div class="col-md-12">

            <h1>About Us</h1>

           <h3> Why did we build this application and what puropse does it solve </h3>


            The Team

            Tomasz
            Bee
            Carol
            Caleb

    
    </div>
  </div>
</div>
