<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="form-group clearfix">
                    
                    <div class="col-sm-10">
                        <label for="foodEnter">Enter food to search for calories: </label>
                        <input type="text" class="form-control" id="foodEnter" placeholder="Food Enter" />
                        <button id="calsearch" type="button" class="btn btn-primary">Food Submit</button>
                    </div>
                    {{!-- <button id="calsearch" type="submit" class="btn btn-primary">Food Submit</button> --}}
                </div>
            </form>
        </div>
    </div>
</div>