<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-2">
      <h2>{{msg}}</h2>
    </div>
  </div>

  <div class="row">
    <div  class="col-8 offset-2">
      <p class="info">Take control of your health today. Learn more about healthy diets, exercise and, more. <br>
        Try our calorie tracker for free! 
    </div>

     <div class="col-2 offset-8">
         <button id="submit" class="btn ">START FOR FREE</button></p>
    </div>
  </div>




  <div class="row">
    <div class="col-md-8">
      <img src="assets/images/healthy-Background.jpg" alt="">
    </div>
  </div>

  <br>




</div>

<script src="/js/index.js"></script>